@using project2.Entities
@using project2.Repositories
@{ CitiesRepository repo = new CitiesRepository();}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2>Restaurants</h2>

<table class="listingTable">
    <tr>
        <td class="tableList">ID</td>
        <td class="tableList">Name</td>
        <td class="tableList">Location ID</td>
        <td class="tableList">Location</td>
        <td class="tableList">Seats</td>
    </tr>
    @foreach (Restaurant res in (List<Restaurant>)ViewData["restaurants"])
    {

        <tr>
            <td class="tableList">@res.Id</td>
            <td class="tableList">@res.Name</td>
            <td class="tableList">@res.LocationId</td>
            <td class="tableList">@repo.GetById(res.LocationId).Name</td>
            <td class="tableList">@res.Seats</td>
            <td class="tableList"><a href="/Restaurants/Delete?id=@res.Id">Delete</a></td>
        </tr>
    }


</table>
<div>
    <p><a href="/Restaurants/Add">Add new restaurant</a></p>
</div>

